@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--color-dark: #09090b;
	--color-light: white;
	--color-primary: rgb(156, 163, 175);
	--color-secondary: yellow;
	--color-darkMode-bg: #191a1d;
	--color-lightMode-bg: #dcecec;
	--color-darkMode-text: #ffffff;
	--color-lightMode-text: #000000;
	--color-lightMode-accent: #320236;
	--color-darkMode-accent: #cce1f5;
	--color-darkMode-card: #212225;
	--color-lightMode-card: #f3f4f6;
}

@font-face {
	font-family: 'Tiempos';
	src: url('/fonts/TestTiemposText-Regular-BF66457a50cd521.otf')
		format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos';
	src: url('/fonts/TestSohne-Halbfett-BF663d89cd2d67b.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos';
	src: url('/fonts/TestTiemposText-RegularItalic-BF66457a50421c2.otf')
		format('opentype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

html {
	scrollbar-gutter: stable;
	font-family: 'Tiempos', system-ui;
}

@layer base {
	html {
		@apply dark:bg-darkMode-bg bg-lightMode-bg text-lightMode-text dark:text-darkMode-text p-0 m-0;
	}
	h1 {
		@apply font-bold text-3xl;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
}

@layer components {
	.tag {
		@apply px-3 py-1 rounded-sm text-sm font-medium bg-lightMode-accent text-darkMode-text dark:bg-darkMode-accent dark:text-lightMode-text;
	}
}

.prose
	:where(code):not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	)::before,
.prose
	:where(code):not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	)::after {
	content: none !important;
}

.prose code::before,
.prose code::after {
	content: none !important;
}
